@import "src/styles/constants";

.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15px;
}

.icon {
  height: 16px;
  width: 16px;
  cursor: pointer;

  & img {
    height: 100%;
    width: 100%;
  }
}

.btn {
  height: 16px;
  width: 16px;
  background-color: inherit;
  cursor: pointer;

  & a {
    display: flex;
    align-items: center;
  }
}

.disabled {
  opacity: .5;
}