$primary-color: #366EFF;
$font-light-color: #FFFFFF;
$secondary-color: #FCFCFC;
$font-dark-color: #000000;
$background-color: #F9F9FA;
$table-category-color: #EFEFEF;
$danger-color: #FF3636;
$border-grey-color: #D9D9D9;

