@import "src/styles/constants";

.password {
  margin-top: 60px;
  width: 347px;
}

.placeholder {
  margin-top: 18px;
  width: 347px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $font-dark-color;
  opacity: 0.5;
}

.btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  width: 347px;
}

.backToLogin {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    color: $font-dark-color;
    font-size: 18px;
  }

}