@import "src/styles/constants";

.button {
  padding: 2px;

  background-color: $font-light-color;
  border: 0;
}

.disabled {
  pointer-events: none;

  opacity: 0.5;
}

.thead {
  background-color: $table-category-color;
}

.thead th {
  font-weight: 600;
}

.tableContainer {
  margin-top: 30px;
  margin-bottom: 20px;
}

.sortDown {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 8px;
  margin-left: 6px;
  cursor: pointer;
  transition: all .3s;
}

.sortUp {
  top: 42%;
  transform: rotate(180deg);
}
