@import "src/styles/constants";

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: $font-dark-color;
  margin-bottom: 8px;
}