@import "src/styles/constants";

.label {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    height: 1.5px;
    width: 100%;
    background-color: $font-dark-color;
    opacity: 0.2;
  }
}

.labelText {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: $font-dark-color;
  opacity: 0.5;
}

.input {
  height: 25px;
  max-width: 347px;
  border: none;
  color: $font-dark-color;
  padding: 5px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  outline: none;
}

.icon {
  position: absolute;
  right: 15px;
  top: 20px;
  height: 15px;
  width: 22px;
  cursor: pointer;
}